html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    user-select: none;
}

.content-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 400px;
    padding: 60px 40px 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    width: 150px;
    height: auto;
    align-self: center;
}

.header {
    margin: 20px 0;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}

.input-section-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box {
    background-color: #444059;
    color: #8F8F8F;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.message-input-field {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    resize: none;
}

.from-who-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.from-input-field,
.to-input-field {
    box-sizing: border-box;
    width: 50%;
}

.publish-btn {
    margin-top: 10px;
    background-color: #28A9F1;
    padding: 20px 10px;
    border: none;
    border-radius: 8px;
    color: #04131C;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.publish-btn:hover {
    background-color: hsl(201, 88%, 40%);
}

.publish-btn:active {
    background-color: #28A9F1;
}

.content-divider {
    margin: 20px 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.endorsements-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.endorsement {
    background-color: #FFFFFF;
    color: #1B1924;
    padding: 15px;
    text-align: left;
    overflow-wrap: break-word;
}

.endorsement-to-section {
    font-weight: bold;
}

.endorsement-message-section {
    margin: 10px 0;
}

.endorsement-footer-section {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}